@import "../../Main"



section.additional-education-section
  @include header-section-footer

  background-color: $main-blue-color
  padding: 170px 0 120px 0

  >.content-container
    display: grid
    grid-template-areas: "A A A B" "C D E F"
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(2, 1fr)
    margin: 0 auto
    width: 880px

    >.text-block
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      grid-area: A
      padding-right: 70px
      transform: translateY(-40px)

      >.header
        color: white
        font-size: 32px
        font-weight: 300
        margin: 0 50px 0 0

      >.text
        color: white
        font-size: 12px
        transform: translateY(-5px)


    >.education-cell
      @include link-cell

    >.education-cell.cell-d
      grid-area: D
      transform: translate(2px, -1px)

    >.education-cell.cell-e
      @include link-cell(white, $dark-grey-color, darken($main-aqua-color, 15%))

      grid-area: E
      transform: translate(1px, -1px)


    >.sphere
      left: calc((100% - 880px) / 2 + 450px)
      position: absolute
      top: 1450px
      width: 200px
      z-index: 100