$dark-grey-color: #282828
$medium-grey-color: #AAA
$light-grey-color: #DDD
$background-gray-color: #F6F5FA

$main-blue-color: #3022FF
$main-aqua-color: #61D9CB
$main-black-color: black



@font-face
  font-family: "Manrope"
  src: url("/Resources/Fonts/Manrope.ttf")


@mixin header-section-footer
  margin: 0
  width: 100%


@mixin link-box($bg-color: $main-blue-color)
  background-color: $bg-color
  box-sizing: border-box
  color: white
  cursor: pointer
  display: flex
  flex-direction: column
  font-size: 12px
  font-weight: 600
  height: 95px
  justify-content: space-between
  min-width: 170px
  padding: 18px 15px 10px 15px
  transition: background-color .2s
  width: 170px

  >img.arrow-icon
    height: 14px
    margin-left: auto
    width: 14px


@mixin link-cell($bg-color: transparent, $text-color: white, $highlighted-color: $main-aqua-color)
  background-color: $bg-color
  border: 1px solid lighten($main-blue-color, 20%)
  box-sizing: border-box
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  height: 220px
  justify-content: flex-end
  padding: 15px 25px
  width: 220px

  >.label
    color: $text-color
    font-size: 14px
    font-weight: 600

  >.label.top
    font-weight: 300
    margin-bottom: 55px

  >.label.highlighted
    color: $highlighted-color
    font-weight: 600
    margin-bottom: 4px

  >a
    display: block
    height: 44px

    >.more-button
      cursor: pointer
      height: 28px
      margin: 16px auto 0 0
      transition: fill .2s
      width: 28px

    >.more-button:hover
      fill: white

    >.more-button.highlighted:hover
      fill: $medium-grey-color



p, a, span, li, div
  font-family: "Manrope"


a
  text-decoration: none


h1, h2, h3, h4, h5, h6
  font-family: "Manrope"


html, body
  margin: 0
  padding: 0
